<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Extensions.Configuration" version="7.0.0" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="7.0.0" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="7.0.0" />
  <package id="Microsoft.Extensions.Configuration.Ini" version="7.0.0" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="7.0.0" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="7.0.0" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="7.0.0" />
  <package id="Microsoft.Extensions.Primitives" version="7.0.0" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" />
</packages>