<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Extensions.Configuration" version="7.0.0" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="7.0.0" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="7.0.0" />
  <package id="Microsoft.Extensions.Configuration.Ini" version="7.0.0" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="7.0.0" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="7.0.0" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="7.0.0" />
  <package id="Microsoft.Extensions.Primitives" version="7.0.0" />
  <package id="Newtonsoft.Json" version="13.0.3" />
  <package id="System.Buffers" version="4.5.1" />
  <package id="System.Memory" version="4.5.5" />
  <package id="System.Numerics.Vectors" version="4.4.0" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" />
</packages>